@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar li .nav-item-text { transform: skewY(20deg) rotateY(90deg) scaleY(0); opacity: 0; font-weight: 400; }
.navbar li.active { @apply bg-lime-500 text-stone-900; }
.navbar li.active .nav-item-icon { @apply text-stone-900;}
.navbar li.active .nav-item-text { @apply bg-lime-500 text-stone-900; }
.navbar li:hover .nav-item-text { transform: none; opacity: 1; }